.canvasContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 10px;

    margin-top: 50px;
}

.canvasSubContainer {
    display: flex;
    justify-content: center;
}

#gameCanvas {
    border: 1px solid black;
}

#handCanvas {
    border: 1px solid black;
}